<div class="container col-4 offset-4 mt-5" id="container">
    <form action="/cadastrar" method="post" class="w-100">
        <div class="row" id="divPai">
            <input type="text" class="form-control" name="nomeProduto" id="#" placeholder="Nome do Produto">
            <input type="number" class="form-control" name="valorProduto" id="#" min="0" placeholder="Valor do Produto">
            <input class="form-control" type="file" name="imgNome">
        </div>
        <div class="mt-3 w-100" id="div-btn">
            <input class="btn btn-primary" id="btn" type="submit" value="Enviar">
        </div>
    </form>
</div>