* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    height: auto;
}


.ajusImg {
    /* background-color: orange; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajusImg img {
    width: 100%;
}

.destaque {
    cursor: pointer;
}

#divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 15px;
    width: inherit;
}

#imgEdit {
    width: 300px;
    border-radius: 75%;
    padding: 10px;
}


.destaque:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    /* animation: lightOn 2s infinite alternate; */
}

#container {
    margin-top: 5%;
}

#containerEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
}

.div-btn {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    margin-top: 5%;
    width: 20%;
}

#divPai {

    display: flex;
    height: 150px;
    justify-content: space-between;
    flex-direction: column;
}

#preco {
    font-size: 25px;
    color: green;
    font-weight: bold;
}

s {
    color: red;
}

.borda {
    border: 1px solid red;
}

#prod {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
}